/* App (general) */
.activities-and-cart {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 60px;
  align-items: flex-start;
}

.cart {
  min-width: 400px;
  position: sticky;
  top: 60px;
  margin-top: 150px;
}

/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.534);
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: white;
  cursor: pointer;
  margin-right: 24px;
}

/* Sections (general)*/
.section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  color: black;
  margin: 30px;
  border-bottom: 3px solid rgb(85, 126, 85);
}

/* Introduction */
.intro-text {
  text-align: justify;
  margin-bottom: 30px;
}

.intro-graella {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.intro-card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.589);
}

.intro-card h3 {
  color: rgb(85, 126, 85);
}

.intro-image {
  width: 100%;
}

/* Multimedia */

.edited-image {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.edited-image-text {
  text-align: center;
  margin-top: 16px;
  font-style: italic;
  color: grey;
}

.audio-and-animation {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.384);
  text-align: center;
  margin-top: 30px;
}

/* Activities (Card and List)*/

.activity-card {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.589);
  margin-bottom: 20px;
}

.activity-card h3 {
  color: rgb(85, 126, 85);
}

.activity-image {
  width: 100%;
  margin-bottom: 16px;
}

.activity-price {
  display: flex;
  justify-content: space-between;
}

.btn-add {
  background-color: rgb(85, 126, 85);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 16px;
}

.btn-add:hover {
  background-color: rgb(138, 180, 138);
}

.activities-graella {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Cart */

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-title {
  font-size: 24px;
}

.cart-empty {
  color: grey;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  font-size: 15px;
  color: grey;
}

.btn-remove {
  background-color: rgb(85, 126, 85);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  height: 45px;
}

.btn-remove:hover {
  background-color: rgb(138, 180, 138);
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
  padding: 30px;
  text-align: center;
}

/* Hero */
.hero-section {
  height: 80vh;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-background {
  background-color: rgba(0, 0, 0, 0.479);
  padding: 20px;
  border-radius: 8px;
}

.hero-title {
  font-size: 60px;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero-button {
  padding: 16px 20px;
  font-size: 20px;
  background-color: rgba(85, 126, 85, 0.726);
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.hero-button:hover {
  background-color: rgba(138, 180, 138, 0.568);
}